mitmproxy==5.2
docker==4.2.2
requests==2.25.0
apscheduler==3.6.3
deepdiff~=5.0.2
influxdb~=5.3.0
pytz~=2020.1
junit_xml==1.8
jinja2==2.11.2
tzlocal==2.1
jira==2.0.0
arbiter @ https://github.com/carrier-io/arbiter.git#egg=arbiter